@import url(https://fonts.googleapis.com/css?family=Bellefair|Trocchi|Bungee+Shade|Monoton|Codystar:300|League+Script|Chicle|Megrim|Smokum);body {
  height: 100vh;
  background-color: #424472;
  color: #defceb;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Bungee Shade", "Monoton", "serif"; }
